{{ template "header.html" .}}
<div class="main-bg bg-image overlay" data-image="/img/particle-bg-3.jpg">
</div>
<div class="text-center">
  <div class="container align-self-center" , style="margin-bottom: 20px">
    <a href="/posts" title="Read posts by Wisdom Uche">
      <img
        src="img/avatar.jpg"
        class="rounded-circle img-responsive profile"
        style="max-width: 300px; border-radius: 50%"
        alt="Wisdom Uche"
      />
    </a>
    <h1>Jason Ernst</h1>
    <h4>Software Engineer</h4>
    <div style="width: 355px; margin: auto">
      <p class="keywords">Decentralization, Mesh Networks, Robotics</p>
    </div>
  </div>
</div>

{{ template "footer.html" .}}
